footer {
  min-height: 100dvh;
  display: grid;
  place-items: center;
  gap: 48px;
  padding: 100px 24px 24px 24px;
  background-color: black;
}

footer hgroup {
  text-align: center;
  padding-inline: 10%;
  line-height: 1.5;
}

footer hgroup h2 {
  font-size: clamp(22px, 4vw, 34px);
  color: white;
}

footer hgroup p {
  padding-block: 16px;
  font-size: clamp(15px, 2vw, 18px);
  color: rgb(182, 182, 182);
}

footer form {
  display: grid;
  grid-template-columns: 1fr auto;
}

footer form input:last-of-type {
  border: none;
  border-radius: 8px 0 0 8px;
  padding: 24px;
  width: 70vw;
}

footer form button {
  white-space: nowrap;
  padding: 24px 16px;
  border-radius: 0 8px 8px 0;
  border: none;
  cursor: pointer;
}

.form-message.show {
  opacity: 1;
  transform: none;
}

.form-message.success {
  color: #8dbb8f;
}

.form-message.error {
  color: #e57373;
}

footer img {
  width: clamp(120px, 20vw, 180px);
  object-fit: contain;
}

footer nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px 35px;
}

footer nav a {
  color: rgb(214, 214, 214);
  transition: color 300ms ease-out;
}

footer nav a:hover {
  color: #fff;
}

@media (width < 450px) {
  footer hgroup {
    padding: 0;
  }

  footer form {
    grid-template-columns: 1fr;
  }

  footer form input:last-of-type {
    width: 80vw;
    border-radius: 8px 8px 0 0;
  }

  footer form button {
    grid-column: 1 / -1;
    border-radius: 0 0 8px 8px;
  }
}
